.widget-containers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping if there are too many widgets for one row */
    gap: 30px; /* Consistent spacing between widgets */
}

.employee-widget-container {
    display: flex;
    align-items: center;
    margin-top: 0px;
    position: relative; /* To position the search icon */
    flex-grow: 1;
    height: 40px;
    
}

.employee-widget {
    
    background-color: #ffffff;
    height: 95px !important;
    width: 310px !important;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    align-items: flex-start;
}


.employee-widget-image {
    height: 100px;
    width: 100px !important; 
    margin-left: 6px; 
    margin-right: 15px; /* space btn image and txt */
    background-color: #00a8e1; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px; /* Align the image to the extreme left */
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden; 
    padding: 0; 
    box-sizing: border-box; 
}

.employee-widget-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    max-width: 100%; 
}



.employee-widget h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0; 
    padding-top: 0px; 
    padding-left: 100px; 
    flex-grow: 0;
    white-space: nowrap; 
    position: relative; 
    top: -5px; 
}


.employee-search-icon {
    background-color: #fa5909;
    border-radius: 50%; 
    padding: 10px;
    position: absolute;
    right: 160px;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-search-icon img {
    width: 20px;
    height: 20px;
}
