

    .tds-details-container {
        padding: 10px;
    }

    .tds-header-container {
        padding: 10px;
    }


    .personal-information, .tds-details, .tds-summary, .tds-footer {
        padding: 10px;
    }

   