.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* White background */
    border-top: 1px solid #dee2e6; /* Optional border for separation */
    margin-top: 20px; /* Space between table and pagination */
  }
  
  .pagination span {
    margin-right: 10px;
  }
  
  .page-numbers {
    display: flex;
    align-items: center;
  }
  
  .page-numbers select {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .page-numbers .pages {
    display: flex;
    align-items: center;
  }
  
  .page-numbers .pages button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff; /* Blue background */
    color: white;
    border-radius: 4px; /* Rectangular shape with small rounded corners */
    cursor: pointer;
  }
  
  .page-numbers .pages button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .page-numbers .pages button:focus {
    outline: none;
  }
  
  .page-numbers .pages button:disabled {
    background-color: #6d6c7d; /* Grey background for disabled state */
    cursor: not-allowed;
  }
  