.attendanceT-container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px; 
  height: 380px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-right: 2%; 
  position: relative; 
  display: flex;
  flex-direction: column;
}

.attendanceT-container .header h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  position: absolute;
  top: 10px; 
  left: 20px; 
}

.divider-lines {
  margin-top: 10px; 
  border-bottom: 1px solid #070000; 
  width: 100%; 
}

.attendanceT-table {
  overflow-x: auto; 
  background-color: #ffffff; 
  padding: 20px;
  height: 300px;
  border-radius: 10px; 
  box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1); 
  display: block;
}

.attendanceT-table table {
  width: 100%;
  border-collapse: collapse;
}

.attendanceT-table th, .attendanceT-table td {
  padding: 12px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.attendanceT-table th {
  background-color: #f2f2f2; 
  color: #333; 
  font-weight: bold;
}

.attendanceT-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Light grey */
}

.attendanceT-table tr:nth-child(odd) {
  background-color: #ffffff; 
}

.attendanceT-table tr:hover {
  background-color: #e6f7ff; 
}

.attendanceT-table th {
  padding: 16px 18px;
  background-color: #f2f2f2; 
  color: #333; 
  font-weight: bold;
}

.attendanceT-table td {
  color: #555;
}

.attendanceT-table td .in-time {
  color: #00a65a; 
  font-weight: bold;
}

.attendanceT-table td .out-time {
  color: #dd4b39; 
  font-weight: bold;
}
