
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}



.main-content {
  flex: 1;
  margin-left: 60px; /* Ensure content doesn't overlap with sidebar */
  padding: 20px;
}

.header {
  padding: 20px;
  color: rgb(8, 8, 8);
  text-align: left;
}

.widgets-container {
  display: flex;
  justify-content: flex-start; /* Align widgets to the left */
  gap: 20px; /* Space between widgets */
  flex-wrap: wrap; /* Allow widgets to wrap to the next line if necessary */
  width: 100%; /* Ensure widgets container takes full width */
  padding: 10px 0; /* Add some padding at the top and bottom */
}

.containers-row {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Ensures space is distributed evenly */
  width: 100%;
  margin-top: 20px; /* Adjust margin as needed */
}

.new-joining-container, .celebration-container {
  flex: 1; /* Allows containers to grow and fit side by side */
  max-width: 48%; /* Ensures they don’t exceed 50% of the parent's width */
}

.attendanceT-container, .performance-feedback-container{
flex: 1;
max-width: 48%;

}



